*, *:before, *:after {
  box-sizing: border-box;
}

html {
  background-color: #DDDDDD;
}

body {
  background-color: #FBFBFB;
  font-family: 'Prompt', sans-serif;
  margin: 0 auto;
  padding: 72px 0 52px;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
  border-bottom: 1px solid #DFDEDE;
}

footer {
  background-color: #FFFFFF;
  border-top: 1px solid #DFDEDE;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-section {
  width: 33.3%;
  display: inline-block;
  text-align: center;
  padding: 5px 0;
}

.footer-section span {
  display: block;
  font-size: 10px;
  color: #979797;
}

.footer-section img {
  display: block;
  margin: 0 auto;
}

.nav-title {
  font-size: 18px;
  color: #09162A;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.0241176em;
  padding: 10px;
}

.bus-stop {
  vertical-align: middle;
}

.bus-stop-arrow {
  vertical-align: middle;
  float: left;
}

.directions {
  background: linear-gradient(180deg, #4EFFCA -22.73%, #3AC198 100%);
}

.reroute {
  background: linear-gradient(180deg, #A37EFF 0%, #5F21FC 111.18%);
}

.out-of-service {
  background: linear-gradient(180deg, #7FC0EE 0%, #008FF6 80.68%);
}

.bus-container {
  background: #FFFFFF;
  /*-webkit-box-shadow: 0px 0px 5px 0px rgba(212,208,212,1); */
  border: 1px solid #DFDEDE;
  border-radius: 5px;
  width: 347px;
  height: 67px;
  position: relative;
  overflow: hidden;
  margin: 10px auto 10px auto;
  padding: 10px;
}

.bus-container h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.section-titles {
  width: 100%;
  height: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 1.5px;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 10px;
  clip-path: polygon(0 0, 100% 0, 100% 55%, 50% 100%, 0 55%);
}

h2 {
  color: #09162A;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  font-size: 18px;
  text-align: left;
}

.frequency {
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  font-size: 11px;
  position: absolute;
  top: 0;
  right: 0;
  width: 110px;
  text-align: center;
}

.frequency-green {
  background-color: #94FFBF;
}

.frequency-lilac {
  background-color: #BCA1FF;
}

.frequency-blue {
  background-color: #8FC1FE;
}

.destination {
  color: #09162A;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  font-size: 14px;
  text-align: left;
}
