*, *:before, *:after {
  box-sizing: border-box;
}

html {
  background-color: #DDDDDD;
}

body {
  background-color: #FDFDFD;
  font-family: 'Prompt', sans-serif;
  margin: 0 auto;
  padding: 67px 0 52px;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
  border-bottom: 1px solid #DFDEDE;
}

footer {
  background-color: #FFFFFF;
  border-top: 1px solid #DFDEDE;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-section {
  width: 33.3%;
  display: inline-block;
  text-align: center;
  padding: 5px 0;
}

.footer-section span {
  display: block;
  font-size: 10px;
  color: #979797;
  padding-top: 5px;
}

.footer-section img {
  display: block;
  margin: 0 auto;
  padding-top: 3px;
}

.nav-title {
  font-size: 18px;
  color: #09162A;
  font-style: normal;
  font-weight: lighter;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.0241176em;
  padding: 10px;
}

.bus-stop {
  vertical-align: middle;
}

.bus-stop-arrow {
  vertical-align: middle;
  float: left;
}

.directions {
  background: linear-gradient(180deg, #6EADF1 -22.73%, #0078FC 100%);
}

.reroute {
  background: linear-gradient(180deg, #FD6262 0%, #FF2E2E 111.18%);
}

.out-of-service {
  background: linear-gradient(180deg, #787878 0%, #5F5F5F 80.68%);
}

.bus-container {
  background: #FFFFFF;
  border: 1px solid #DFDEDE;
  border-radius: 5px;
  width: 347px;
  height: 67px;
  position: relative;
  overflow: hidden;
  margin: 10px auto 10px auto;
  padding: 10px;
}

.bus-container h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.section-titles {
  width: 100%;
  height: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 1.5px;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 10px;
  clip-path: polygon(0 0, 100% 0, 100% 55%, 50% 100%, 0 55%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 55%, 50% 100%, 0 55%);
}

h2 {
  color: #09162A;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  font-size: 18px;
  text-align: left;
}

.frequency {
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  font-size: 11px;
  position: absolute;
  top: 0;
  right: 0;
  width: 110px;
  text-align: center;
}

.arrival-alert {
  position: absolute;
  bottom: 0;
  right: 0;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  font-size: 12px;
  color: #FF7A00;
  padding-right: 5px;
  padding-bottom: 5px;
}

.frequency-blue {
  background-color: #ADD1FE;
}

.frequency-red {
  background-color: #FF9292;
}

.frequency-gray {
  background-color: #C2C2C2;
}

.destination {
  color: #09162A;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  font-size: 14px;
  text-align: left;
}
